# Python MySQL 
### Author: Ben

## Working with databases

In [21]:
import mysql.connector

mydb = mysql.connector.connect(host="localhost", user="ben", passwd="passw0rd")
mycursor = mydb.cursor()

# Print list of databases
mycursor.execute("SHOW DATABASES")
for x in mycursor: print(x)

('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

In [25]:
# Create a database
mycursor.execute("CREATE DATABASE dbtest")

# Print list of databases
mycursor.execute("SHOW DATABASES")
for x in mycursor: print(x)

('dbtest',)
('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

In [23]:
# Drop a database
mycursor.execute("DROP DATABASE dbtest")

# Print list of databases
mycursor.execute("SHOW DATABASES")
for x in mycursor: print(x)

('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

## Working with tables

In [31]:
import mysql.connector

mydb = mysql.connector.connect(host="localhost", user="ben", passwd="passw0rd", database="dbtest")
mycursor = mydb.cursor()

In [56]:
# Print table in a database
mycursor.execute("SHOW TABLES")
for x in mycursor: print("List of tables: ", x)

In [57]:
# Create table in a database, check if table exist
mycursor.execute("SHOW TABLES")
for x in mycursor: print("List of tables: ", x)

mycursor.execute("CREATE TABLE sessionid (sessionid VARCHAR (255) PRIMARY KEY, name VARCHAR(255), username VARCHAR(255), address VARCHAR(255))")
mycursor.execute("SHOW TABLES")
for x in mycursor: print("After create table:", x)

After create table: ('sessionid',)

In [55]:
# Drop table in a database
mycursor.execute("SHOW TABLES")
for x in mycursor: print("Before drop table:", x)
mycursor.execute("DROP TABLE IF EXISTS sessionid")
mycursor.execute("SHOW TABLES")
for x in mycursor: print("After drop table:", x)

Before drop table: ('sessionid',)

### Working with records

In [85]:
# Print records from DB: db_test with TABLE: sessionid
mycursor.execute("SELECT * FROM sessionid")
for x in mycursor: print("Record: ", x)

Record:  ('234fd', 'ghdfgh', 'dafff', 'aassdf')
Record:  ('d344adf', 'ghdfgh', 'dafff', 'aassdf')

In [117]:
# Before inserting ONE record
mycursor.execute("SELECT * FROM sessionid")
for x in mycursor: print("Before inserting record: ", x)

# Insert new record
sql = "INSERT INTO sessionid (sessionid, name, username, address) VALUES (%s, %s, %s, %s)"
val = ('d34dfaf', 'ghdfgh', 'dafff', 'aassdf')
mycursor.execute(sql, val)
mydb.commit()
print(mycursor.rowcount, "record inserted.")

# After inserting record
mycursor.execute("SELECT * FROM sessionid")
for x in mycursor: print("After inserting record: ", x)

Before inserting record:  ('ds324f343', 'ZWE', 'distrct 3', '11642')
Before inserting record:  ('dsf343', 'ZWE', 'distrct 3', '11642')
Before inserting record:  ('fds34', 'PSE', 'distrct 2', '15642')
Before inserting record:  ('fds344', 'PSE', 'distrct 2', '15642')
1 record inserted.
After inserting record:  ('d34dfaf', 'ghdfgh', 'dafff', 'aassdf')
After inserting record:  ('ds324f343', 'ZWE', 'distrct 3', '11642')
After inserting record:  ('dsf343', 'ZWE', 'distrct 3', '11642')
After inserting record:  ('fds34', 'PSE', 'distrct 2', '15642')
After inserting record:  ('fds344', 'PSE', 'distrct 2', '15642')

In [101]:
# Before inserting MULTIPLE records
mycursor.execute("SELECT * FROM sessionid")
for x in mycursor: print("Before inserting records: ", x)

# Insert new records
sql = "INSERT INTO sessionid (sessionid, name, username, address) VALUES (%s, %s, %s, %s)"
val =  [
('34342344', 'MAC', 'distrct 1', '16822'),
('fds344', 'PSE', 'distrct 2', '15642'),
('ds324f343', 'ZWE', 'distrct 3', '11642'),
('44fd324fs', 'USA', 'distrct 4', '14612'),
('53fa342dsf', 'USA', 'distrct 5', '17672'),
]

print("Records to be added: ", val)

# !!! Use .executemany, instead of .execute !!!
mycursor.executemany(sql, val)

mydb.commit()
print(mycursor.rowcount, "record inserted.")

# After inserting records
mycursor.execute("SELECT * FROM sessionid")
for x in mycursor: print("After inserting records: ", x)

Before inserting records:  ('234fd', 'ghdfgh', 'dafff', 'aassdf')
Before inserting records:  ('3434', 'MAC', 'distrct 1', '16822')
Before inserting records:  ('44fdfs', 'USA', 'distrct 4', '14612')
Before inserting records:  ('53fadsf', 'USA', 'distrct 5', '17672')
Before inserting records:  ('d344adf', 'ghdfgh', 'dafff', 'aassdf')
Before inserting records:  ('d34dfa4adf', 'ghdfgh', 'dafff', 'aassdf')
Before inserting records:  ('d34dfaf', 'ghdfgh', 'dafff', 'aassdf')
Before inserting records:  ('dsf343', 'ZWE', 'distrct 3', '11642')
Before inserting records:  ('fds34', 'PSE', 'distrct 2', '15642')
Records to be added:  [('34342344', 'MAC', 'distrct 1', '16822'), ('fds344', 'PSE', 'distrct 2', '15642'), ('ds324f343', 'ZWE', 'distrct 3', '11642'), ('44fd324fs', 'USA', 'distrct 4', '14612'), ('53fa342dsf', 'USA', 'distrct 5', '17672')]
5 record inserted.
After inserting records:  ('234fd', 'ghdfgh', 'dafff', 'aassdf')
After inserting records:  ('3434', 'MAC', 'distrct 1', '16822')
After inserting records:  ('34342344', 'MAC', 'distrct 1', '16822')
After inserting records:  ('44fd324fs', 'USA', 'distrct 4', '14612')
After inserting records:  ('44fdfs', 'USA', 'distrct 4', '14612')
After inserting records:  ('53fa342dsf', 'USA', 'distrct 5', '17672')
After inserting records:  ('53fadsf', 'USA', 'distrct 5', '17672')
After inserting records:  ('d344adf', 'ghdfgh', 'dafff', 'aassdf')
After inserting records:  ('d34dfa4adf', 'ghdfgh', 'dafff', 'aassdf')
After inserting records:  ('d34dfaf', 'ghdfgh', 'dafff', 'aassdf')
After inserting records:  ('ds324f343', 'ZWE', 'distrct 3', '11642')
After inserting records:  ('dsf343', 'ZWE', 'distrct 3', '11642')
After inserting records:  ('fds34', 'PSE', 'distrct 2', '15642')
After inserting records:  ('fds344', 'PSE', 'distrct 2', '15642')

In [115]:
# Before deleting records
mycursor.execute("SELECT * FROM sessionid")
for x in mycursor: print("Before deleting records: ", x)

# Insert new records
mycursor.execute("DELETE FROM sessionid WHERE name = 'ghdfgh'")
mydb.commit()
print(mycursor.rowcount, "record deleted.")

# After deleting records
mycursor.execute("SELECT * FROM sessionid")
for x in mycursor: print("After deleting records: ", x)

Before deleting records:  ('d344adf', 'ghdfgh', 'dafff', 'aassdf')
Before deleting records:  ('d34dfa4adf', 'ghdfgh', 'dafff', 'aassdf')
Before deleting records:  ('d34dfaf', 'ghdfgh', 'dafff', 'aassdf')
Before deleting records:  ('ds324f343', 'ZWE', 'distrct 3', '11642')
Before deleting records:  ('dsf343', 'ZWE', 'distrct 3', '11642')
Before deleting records:  ('fds34', 'PSE', 'distrct 2', '15642')
Before deleting records:  ('fds344', 'PSE', 'distrct 2', '15642')
3 record deleted.
After deleting records:  ('ds324f343', 'ZWE', 'distrct 3', '11642')
After deleting records:  ('dsf343', 'ZWE', 'distrct 3', '11642')
After deleting records:  ('fds34', 'PSE', 'distrct 2', '15642')
After deleting records:  ('fds344', 'PSE', 'distrct 2', '15642')

In [116]:
# Print records from DB: db_test with TABLE: sessionid
mycursor.execute("SELECT * FROM sessionid")
for x in mycursor: print("Record: ", x)

Record:  ('ds324f343', 'ZWE', 'distrct 3', '11642')
Record:  ('dsf343', 'ZWE', 'distrct 3', '11642')
Record:  ('fds34', 'PSE', 'distrct 2', '15642')
Record:  ('fds344', 'PSE', 'distrct 2', '15642')